*{
    padding: 0px;
    margin: 0px;
}
.contains{
    position: relative;
}
img{
    width: 300px;
    height: auto;
}
.box{
    padding: 5px;
    float: left;
}
.img_id{
    box-shadow:  0 0 5px #333;
    padding: 5px;
    border-radius: 5px;
    border: 1px  solid #cccccc;
}
